{{ if gt .Paginator.TotalPages 1 }}
 
<nav class="cf pa3 persian-text">
    {{ if .Paginator.HasNext }}
    <a class="fl dib link dim grey-3 f6 f5-ns b pa2 hover-primary" title="صفحه بعدی" href="{{ .Paginator.Next.URL }}">
        &larr; قبلی
    </a>
    {{ end }}
    <div class="pagination">
        {{ if .Paginator.HasPrev }}
        <a class="fr dib link dim grey-3 f6 f5-ns b pa2 hover-primary" title="صفحه قبلی" href="{{ .Paginator.Prev.URL }}">
            بعدی &rarr;
        </a>
        {{ end }}
    </div>
</nav>
 
{{ end }}