{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "short-text" .Params.blurb}}

{{ partial "2-up" .Params }}

{{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/values") }}

{{ partial "blog" . }}

<div class="pv4 bg-white">
	<div class="ph3 mw7 center">
		<h2 class="f2 b lh-title mb2">From the archive</h2>
		<p class="mb3">A selection of recent images from the downloads folder.</p>
		<div id="random-downloads-grid"></div>
	</div>
</div>

<script src="/js/random-grid.js"></script>

{{ end }}
